{% extends 'base.html' %}

{% block content %}
<a href='/plot'>Plot</a>
<h3 class='stk-title'>{{stk_info['longName']}}({{stk_info['symbol']}})</h3>

<div id="stock-info">
  
  <div id="stock-left-col">
    <div class="tableLine">
      <div class="label">Prev Close:</div>
      <div class="value stockPrevClose">{{stk_info['previousClose']}}</div>
    </div>
    <div class="tableLine">
      <div class="label">Open:</div>
      <div class="value stockOpen">{{stk_info['open']}}</div>
    </div>
    <div class="tableLine">
      <div class="label">Bid:</div>
      <div class="value stockBid">{{stk_info['bid']}}</div>
    </div>
    <div class="tableLine">
      <div class="label">Ask:</div>
      <div class="value stockAsk">{{stk_info['ask']}}</div>
    </div>
    <div class="tableLine">
      <div class="label">Beta 3 Year</div>
      <div class="value stockTargetEst">{{stk_info['beta3Year']}}</div>
    </div>
  </div>
  
  <div id="stock-right-col">
  <div class="tableLine">
      <div class="label">Volume: </div>
      <div class="value stockVolume">{{stk_info['volume']}}</div>
    </div>
    <div class="tableLine">
      <div class="label">Avg Volume: </div>
      <div class="value stockAvgVolume">{{stk_info['averageVolume']}}</div>
    </div>
    <div class="tableLine">
      <div class="label">Market Cap:</div>
      <div class="value stockMarketCap">{{stk_info['marketCap']}}</div>
    </div>
    <div class="tableLine">
      <div class="label">Day High: </div>
      <div class="value stockDayHigh">{{stk_info['dayHigh']}}</div>
    </div>
    <div class="tableLine">
      <div class="label">Day Low: </div>
      <div class="value stockDayLow">{{stk_info['dayLow']}}</div>
    </div>
  </div>
  
</div>


<table class="table table-striped table-sm">
            <thead>
                <tr>
                  <th>Open</th>
                  <th>High</th>
                  <th>Low</th>
                </tr>
              </thead>
            <tbody>
            {% for value in hist_data %}
                <tr>
                  <td>{{ value[0] }}</td>
                  <td>{{ value[1] }}</td>
                  <td>{{ value[2] }}</td>
                </tr>
            {% endfor %}
          </tbody>
          </table>

<script>
  var trace = {
    x = [123,34,233,4,43,32],
    y = [3,5,7,8,5,4],
    type: 'scatter'
  }
  var data = [trace]
  Plotly.newPlot('myDiv', trace)
</script>
{% endblock %}